<h1>Equipo 1</h1>

<div class="container">
    <h3 style="margin-top: 5%;">Presupuesto restante</h3>
    <h1 style="color: green;">100 Millones</h1>
    <h2>Titulo</h2>
    <div class="formDivContainer">
        <form class ="registerForm"(ngSubmit)="null" [formGroup]="teamForm" >
        
            <div class="formDiv">
                <div class="buttonShift">
                    <button class="btnLeft" aria-label="left">
                        <mat-icon  class="buttonIcon" [inline]="true">
                            keyboard_double_arrow_left
                        </mat-icon>
                    
                     </button>
    
                </div>
                
    
                <div class="memberSelector">
                    
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Favorite food</mat-label>
                        <mat-select>
                          <mat-option value="pene" >
                            pene
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    
                    <img class='image' src="https://toppng.com/uploads/preview/free-cellphone-clipart-iphone-iphone-6-clipart-no-background-115632509757rxopwe77r.png">
                </div>
                <div class="buttonShift">
                    <button class="btnRight" aria-label="left">
                        <mat-icon  class="buttonIcon" [inline]="true">
                            keyboard_double_arrow_right
                        </mat-icon>
                    
                </button>
               
    
                </div>
                
    
            </div>
    
    
    
            
        </form>
    </div>
    
   

</div>
