
.header{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
    background-color: red;
    padding: 15px;
    height: 10%;
    
}
.contentDiv{
    min-height: 90%;
    width: 100%;
    background-color: blue;
    display:block;
}
.XFIAIcon{
    min-height: 30px;
    max-height: 50px;
    height: 100%;
    width: auto;
}
.menuBar{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    height: 100%;
    flex-basis: 10%;
    
    
}
.accountBar{
    background-color:red;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
    flex-basis: 10%;
   
    
    
}
.barIcon{
    transform:scale(1.3);
 
}
