<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="XFIA">
    <meta name="keywords" content="Races, F1">
    <meta name="author" content="Luis Andrey Zuniga">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="header">
      <div class="menuBar">
        <mat-icon class="barIcon">menu</mat-icon>
        <img class="XFIAIcon" src="../assets/images/XFIALogo.png">
      </div>
      
      <div class="accountBar">
          <mat-icon class="barIcon">account_circle</mat-icon>
          <mat-icon class="barIcon">settings</mat-icon>
          <mat-icon class="barIcon">analytics</mat-icon>
      </div>
    </div>
    <div class="contentDiv">
      <h1>hola</h1>
    </div>
        
  </body>
</html>