<div class="mainDiv">
    <div class="leagueHeader">
        
        <label id="leagueTitle">{{leagueInfo.name}}</label>
        <label id="leagueKey">{{'#'+leagueInfo.key}}</label>
        <div class="state">
            <label id="stateText">Estado</label>
            <div class="circle" [ngStyle]="{'background-color': leagueInfo.state ? 'green' : 'red'}"></div>
        </div>
       
        
    </div>
    
    <div class="tableDiv mat-elevation-z8">
        <table class="table" mat-table [dataSource]="tableDataSource">
            <ng-container matColumnDef="Posicion">
                <th mat-header-cell *matHeaderCellDef> Posicion. </th>
                <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
            </ng-container>
            <ng-container matColumnDef="Usuario">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let element" (click)="redirect(element.Email)"> {{element.UserName}} </td>
            </ng-container>
            <ng-container matColumnDef="Escuderia">
                <th mat-header-cell *matHeaderCellDef> Escuderia </th>
                <td mat-cell *matCellDef="let element"> {{element.TeamName}} </td>
            </ng-container>
            <ng-container matColumnDef="Equipo">
                <th mat-header-cell *matHeaderCellDef> Equipo </th>
                <td mat-cell *matCellDef="let element"> {{element.SubteamName}} </td>
            </ng-container>
            <ng-container matColumnDef="Puntaje">
                <th mat-header-cell *matHeaderCellDef> Puntaje </th>
                <td mat-cell *matCellDef="let element"> {{element.Points}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
       

    </div>
    <div class="bottomBar">
        <div class="holder"></div>
        <button class="enterButton" mat-raised-button color="warn" (click)="leavePrivateLeague()">Abandonar Liga</button>
        <label>{{'Miembros: '+tableDataSource.length/2+'/'+leagueInfo.maxUser}}</label>
    </div>
    
    

</div>
