<div class="mainDiv">
    <div class="header">
        <div class="headerSub">
            <label class="title">Usuario</label>
            <label class="subTitle">{{username}}</label>
            
        </div>
        <div class="headerSub">
            <label class="title">Escuderia</label>
            <label class="subTitle">{{teamName}}</label>
        </div>
        <div class="headerSub">
            <div class="logoHeader">
                <img class='logoImg' [src]="teamLogo">
            </div>
        </div>

    </div>
    <mat-tab-group class="tabGroup"   mat-stretch-tabs>
        <mat-tab [label]="subteam1Name" class="tab">
            <div class="body">
                <div class="halfMembers">
                    
                </div>
                <div class="halfMembers">
                   

                </div>
              

            </div>
        </mat-tab>
        <mat-tab [label]="subteam2Name" class="tab">
            <div class="body">
                <div class="halfMembers">
                    <div class="card" *ngIf="pilots2[0]!=undefined">
                      
                        <div class="cardHeader">
                            <img class="flag" [src]="pilots2[0].CountryNameNavigation.Photo">
                            <h3>{{pilots2[0].Firstname +" "pilots2[0].Lastname}</h3>
                            <img class="logo" [src]="pilots2[0].RealTeamsNameNavigation.Logo">
                        </div>
                        
                        <img class='image' [src]="pilots2[0].Photo">
                        
                        
                        <div class="cardDown">
                            <h3>{{"Precio: " +pilots2[0].Price+" M"}}</h3>
                        </div>
                        
                      
                    </div>
                    

                </div>

            </div>
        </mat-tab>

    </mat-tab-group>
    

</div>
