<nav>
    <ul>
      <li><a routerLink="/tournaments/create" routerLinkActive="active">Crear Campeonato</a></li>
      <li><a routerLink="/tournaments/race/create" routerLinkActive="active">Crear Carrera</a></li>
      <li><a routerLink="/auth/register" routerLinkActive="active">Register</a></li>
      <li><a routerLink="/auth/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/publicLeague/ranking" routerLinkActive="active">Liga Publica</a></li>
      <li><a routerLink="/privateLeague/ranking" routerLinkActive="active">Liga Privada</a></li>
      <li><a routerLink="/privateLeague/create" routerLinkActive="active">Crear Liga Privada</a></li>
      <li><a [routerLink]="['/profile/view',loggedEmail]" routerLinkActive="active">Perfil</a></li>
      <li><a routerLink="/results/add" routerLinkActive="active">Resultados</a></li>
      
    </ul>
  </nav>


  <button (click)="logOut()">LogOUT</button>
