<nav>
    <ul>
      <li><a routerLink="/tournaments/create" routerLinkActive="active">Crear Campeonato</a></li>
      <li><a routerLink="/tournaments/race/create" routerLinkActive="active">Crear Carrera</a></li>
      <li><a routerLink="/auth/register" routerLinkActive="active">Auth</a></li>
      <li><a routerLink="/publicLeague/ranking" routerLinkActive="active">Liga Publica</a></li>
      <li><a routerLink="/privateLeague/ranking" routerLinkActive="active">Liga Privada</a></li>
      <li><a routerLink="/profile/view" routerLinkActive="active">Perfil</a></li>

    </ul>
  </nav>
