<h1>NUEVO CAMPEONATO</h1>
<div class="container">
   
    <form class ="raceForm"(ngSubmit)="submit()" [formGroup]="tournamentForm" >
        
        <div class="form-group">
            <div class="p25">
                <label>Nombre Campeonato</label>
            </div>
            <div class="p75">
                <input type="text" name="Name" class="form-control" formControlName="tournamentName">
            </div>
            
            
        </div>
        <pre></pre>
        <div class="form-group">
            <div class="p25">
                <label>Fecha Inicio</label>
            </div>
            <div class="p75">
                <input type="date" name="dateI" class="form-control" formControlName="initialDate">
            </div>
            
            
        </div>
        <pre></pre>
        <div class="form-group">
           <div class="p25">
                <label>Fecha Final</label>
            </div>
           <div class="p75">
            <input type="date" name="dateE" class="form-control" formControlName="finalDate">
           </div>
            
        </div>
        <pre></pre>
        <div class="form-group">
            <div class="p25">
                <label>Hora Inicio</label>
            </div>
            <div class="p75">
                <input type="time" name="timeS" class="form-control" formControlName="initialTime">
            </div>
            
        </div>
        <pre></pre>
        <div class="form-group">
            <div class="p25">
                <label>Hora Final</label>
            </div>
            <div class="p75">
                <input type="time" name="timeE" class="form-control" formControlName="finalTime">
            </div>

            
        </div>
        <pre></pre>
        <div class="form-group">
            <div class="p25">
                <label>Presupuesto</label>
            </div>
            <div class="p75">
                <input type="number" name="budget" class="form-control" formControlName="budget" placeholder="valor en millones">
            </div>
            
            
        </div>
        <pre></pre>
        <div class="form-group">
            <div class="p25">
                <label>Reglas Campeonato</label>
            </div>
            <div class="p75">
                <textarea name="rules" class="form-control" id="rules" formControlName="rules"></textarea>
            </div>
            
            
        </div>
        <pre></pre>
        <div class="buttonContainer">
            <button type="submit" class="formButton" [disabled]="!tournamentForm.valid">Crear</button>
        </div>
        
        
    </form>
   

</div>
