<div class="container">
    <form>
        <h1>Crear Nuevo Campeonato</h1>
        <div class="form-group">
            <label>Nombre Campeonato</label>
            <input type="text" name="Name" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label>Fecha Inicio</label>
            <input type="date" name="dateI" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label>Fecha Final</label>
            <input type="date" name="dateE" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label>Hora Inicio</label>
            <input type="time" name="timeS" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label>Hora Final</label>
            <input type="time" name="timeE" class="form-control" ngModel>
        </div>
        <pre></pre>
        <button type="submit" class="formButton">Press</button>
    </form>
   

</div>
