.container{
    text-align: left;
    margin-top: 100px;
    font-family:'Rockwell';
    font-weight: bold;
    background-color:white;
    margin-top: 0%;

    margin-right: auto;
    margin-left: auto;
    font-size: 2.5vmin;

    border-width: 1px;
    border-color: gray;
    border-style:solid;
}
.registerForm{
    overflow-y: auto;
}
label{
    text-align:left;
    
}
h1{
    
    text-align: center;
    font-size: 4vmin;
    font-family:'Rockwell';
    font-weight: bold;
}
.formButton{
    font-size: 3vmin;
    width: 30%;
    padding: 1%;
    border-radius:14px;
    background-color: #e10600;
    color:white;
}
.formButton:hover{
    background-color: rgb(255, 136, 0);
    
}
input,select{
    font-size: 3vmin;
    width: 90%;
    border-radius: 12px;
    font-family:'Rockwell';
    font-weight: bold;
    text-align: center;
    border-style: solid;
    color:gray;
}

input:hover{
    border-color: black;
    color:black;
    
}
input::placeholder{
    color:gray
}

textarea{
    width: 90%;
    height: 20vmin;
    font-size:2vmin;
    resize: none;
    font-family:'Rockwell';
    font-weight: bold;
    overflow-y: auto;
    text-align: left;
    vertical-align: top;
    border-radius: 9px;
    
}
textarea:hover{
    border-color: black;
}
.buttonContainer{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    margin-bottom: 5%;
}

.p25{  
    flex-basis: 30%;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.p75{
    flex-basis: 55%;
    background-color: white;
    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;

    
}
.warning{
    display: block;
    font-size: 1.5vmin;
    padding: 2%;
    color:#991C1C;
}
.warning::after{
    break-after: always;
}
.form-group{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
    background-color: white;
    margin-top:3%;
    margin-bottom: 3%;
    
}
.passwordInput{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
}
.passwordButton{
    color:gray;
    background-color: white;
    border: 0px;
}
.fileCenter{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 100%;
 
    
    

}
.verticalFormGroup{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 100%;
   
  
    
   
}
.inputSpace{
    width: 40%;
    min-height: 30vmin;
    border-color: black;
    border-width: 2px;
    border-radius: 12px;
    border-style: solid;
}
.inputImage{
    opacity: 0;
    width: 100%;
    padding: 50% 10px;
    line-height: 30%;
    
}
#camera{
    display: none;
    font-size: 15vmin;
    margin-top: 1%;
    z-index: 2;
}